@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

html,
body {
    margin: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    padding: 20px;
    padding-bottom: 0;
}

.counter {
    width: 120px;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    border-radius: 0.8rem;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

#number {
    margin: 0;
    font: 2.2rem "Fira Sans", sans-serif;
}

.container {
    margin: 4px;
}

p,
label {
    font: 1rem "Fira Sans", sans-serif;
}

.ps {
    margin: 0;
    font-size: 0.8rem;
}

footer {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    width: 24px;
}
